---
import { wait } from '@volpe/utils';
import Layout from '../layouts/Layout.astro';
import TestDefer from '../components/TestDefer.astro';

const currentTime = new Date().toLocaleTimeString();
Astro.response.headers.set('Cache-Control', 'public, s-maxage=10, stale-while-revalidate=10');

const res = await fetch("https://randomuser.me/api/")
const data = await res.json()
await wait(3)

---

<Layout>
  {currentTime}
  <br/>
  {JSON.stringify(data.results[0].name.first)}
  <TestDefer server:defer>
    <p slot="fallback">cargando...</p>
  </TestDefer>
</Layout>
